/*发起任务*/
.add-task {
  width: 100%;
  /*任务内容*/
  /*文件上传列表*/
}
@media screen and (max-width: 1025px) {
  .add-task .plan-file .plan-file-list {
    width: 80% !important;
  }
  .add-task .plan-file .plan-file-list:nth-child(even) {
    margin-left: 30px !important;
  }
}
.add-task #optionBtn button {
  margin-right: 20px;
  vertical-align: middle;
}
.add-task .people-title {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  line-height: 32px;
  width: 70px;
}
.add-task .task-detail-title {
  width: calc(100% - 40px);
  height: 22px;
  box-sizing: border-box;
  color: #303133;
  font-size: 16px;
  font-weight: 500;
  border-left: 4px solid #0082EF;
  margin: 14px 20px;
  padding-left: 10px;
}
.add-task .greyFont {
  color: #909399;
}
.add-task .greenFont {
  color: #67C23A;
}
.add-task .red {
  color: #F56C6C;
}
.add-task .icon-img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}
.add-task .add-task-content {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #303133;
  background-color: #fff;
}
.add-task .add-task-content {
  /*发起人抄送人接收人*/
  /*子任务*/
}
.add-task .add-task-content textarea {
  height: 100px;
  resize: none;
}
.add-task .add-task-content .section-title {
  width: calc(100% - 40px);
  margin: 18px auto;
}
.add-task .add-task-content .ant-form-item {
  padding: 0 20px;
  margin-bottom: 20px;
}
.add-task .add-task-content .ant-form-item .ant-form-item {
  padding: 0;
  display: inline-block;
  margin-bottom: 0;
  color: #303133;
}
.add-task .add-task-content .switch-name {
  color: #303133;
}
.add-task .add-task-content .ant-form-item-required {
  color: #303133;
}
.add-task .add-task-content .ant-form-item-label > label::after {
  content: "";
}
.add-task .add-task-content .label-icon {
  position: absolute;
  top: 0;
  left: -75px;
}
.add-task .add-task-content .label-icon-upload {
  position: absolute;
  top: 2px;
  left: -58px;
}
.add-task .add-task-content .ant-form-item:nth-child(7) label {
  color: #FFAA00;
}
.add-task .add-task-content .ant-form-item:nth-child(7) .ant-form-item-required::before {
  position: absolute;
  top: 0;
  left: -30px;
}
.add-task .add-task-content .ant-form-item:nth-child(9) label {
  color: #7086B3;
}
.add-task .add-task-content .ant-form-item:nth-child(9) .ant-form-item-required::before {
  position: absolute;
  top: 0;
  left: -30px;
}
.add-task .add-task-content .ant-form-item:nth-child(8) label {
  color: #86D5A3;
}
.add-task .add-task-content .ant-form-item:nth-child(8) .ant-form-item-required::before {
  position: absolute;
  top: 0;
  left: -30px;
}
.add-task .add-task-content .people-list-box {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}
.add-task .add-task-content .people-list-box .copy-people {
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  padding: 0 75px 0 8px;
  background: #ffffff;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  color: #0082EF;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.add-task .add-task-content .people-list-box i {
  width: 8px;
  height: 13px;
  color: #B4BCCC;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 13px;
}
.add-task .add-task-content .people-list-box .copy-people-count {
  position: absolute;
  right: 20px;
  top: 7px;
  line-height: normal;
}
.add-task .add-task-content .notice-type-desc {
  margin-left: 20px;
  margin-right: 10px;
}
.add-task .add-task-content .addSubTask {
  float: right;
  margin-top: -5px;
}
.add-task .add-task-content .subTask-list {
  width: calc(100% - 54px);
  box-sizing: border-box;
  padding-right: 15px;
  margin: 20px 20px 20px 34px;
}
.add-task .add-task-content .subTask-list .subTask-li {
  width: 100%;
  background: linear-gradient(270deg, #ffffff 0%, #f1f8ff 100%);
  border-left: 4px solid #269CFF;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.add-task .add-task-content .subTask-list .subTask-li .subTask-name {
  width: 100%;
}
.add-task .add-task-content .subTask-list .subTask-li .subTask-name .left {
  width: 80%;
  color: #303133;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
.add-task .add-task-content .subTask-list .subTask-li .subTask-name .right {
  width: 20%;
  text-align: right;
  float: right;
  color: #B4BCCC;
  font-weight: 500;
}
.add-task .add-task-content .subTask-list .subTask-li .subTask-name .right span {
  margin-left: 10px;
  cursor: pointer;
}
.add-task .add-task-content .subTask-list .subTask-li .subTask-name .right .editSubTask {
  color: #0082EF;
}
.add-task .add-task-content .subTask-list .subTask-li .subTask-describe {
  width: 80%;
  font-size: 14px;
  color: #606266;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
.add-task .add-task-content .subTask-list .subTask-li .list-icon {
  font-size: 12px;
  color: #606266;
}
.add-task .add-task-content .subTask-list .subTask-li .list-icon .list-count {
  margin-left: 5px;
}
.add-task .task-detail-schedule .task-detail-title {
  vertical-align: middle;
}
.add-task .task-detail-schedule .task-detail-title .title {
  float: left;
  width: 50%;
}
.add-task .task-detail-schedule .task-detail-title .search-input {
  height: 32px;
  width: 50%;
  float: left;
  text-align: right;
}
.add-task .task-detail-schedule .task-detail-title .search-input .search-group {
  text-align: left;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  max-width: 70%;
  min-width: 50%;
}
.add-task .task-detail-schedule .task-detail-title .search-input .search-group img {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 9px;
  right: 15px;
}
.add-task .task-detail-schedule .task-detail-title .search-input .search-group input {
  padding-right: 30px;
}
.add-task .task-detail-schedule .task-detail-title .search-input .search-btn {
  margin-left: 20px;
}
.add-task .task-detail-schedule .task-schedule-ul {
  width: calc(100% - 54px);
  box-sizing: border-box;
  padding-right: 15px;
  margin: 20px 20px 20px 34px;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li {
  width: 100%;
  border-bottom: 1px solid #f5f7fa;
  padding-bottom: 10px;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .person-info {
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .person-info img {
  width: 32px;
  height: 32px;
  display: inline-block;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .person-info .user-name {
  font-size: 14px;
  color: #303133;
  margin-left: 10px;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .person-info .file-status {
  margin-left: 30px;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .schedule-desc {
  width: 100%;
  box-sizing: border-box;
  padding: 0 80px;
  color: #606266;
  line-height: 25px;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .schedule-desc span {
  font-size: 14px;
  color: #909399;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .schedule-file {
  width: 100%;
  box-sizing: border-box;
  padding: 0 80px;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .schedule-file .schedule-file-list {
  width: 50%;
  float: left;
  font-size: 14px;
  color: #303133;
  margin-bottom: 20px;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .schedule-file .schedule-file-list .top {
  height: 50px;
  line-height: 50px;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .schedule-file .schedule-file-list .file-icon {
  width: 32px;
  height: 32px;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .schedule-file .schedule-file-list .file-name {
  margin-left: 10px;
  vertical-align: bottom;
  max-width: 80%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .schedule-file .schedule-file-list .bottom {
  font-size: 12px;
  color: #909399;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .schedule-file .schedule-file-list .bottom .upload-time {
  margin-left: 30px;
}
.add-task .task-detail-schedule .task-schedule-ul .task-schedule-li .schedule-file .schedule-file-list .bottom .btn-text-underline {
  height: 20px;
  color: #0082EF;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #0082EF;
  margin-left: 20px;
}
.add-task .plan-file {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.add-task .plan-file .plan-file-list {
  width: 40%;
  vertical-align: middle;
  height: 28px;
  margin-top: 10px;
  background-color: #F5F7FA;
  line-height: 28px;
  box-sizing: border-box;
  padding: 0 60px 0 10px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.add-task .plan-file .plan-file-list .file-icon {
  width: 19px;
  height: 19px;
  vertical-align: middle;
  margin-right: 6px;
}
.add-task .plan-file .plan-file-list .file-name {
  color: #606266;
  font-size: 12px;
  vertical-align: bottom;
  max-width: 80%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
}
.add-task .plan-file .plan-file-list .file-status-icon {
  font-size: 12px;
  position: absolute;
  top: 8px;
  font-style: normal;
  cursor: pointer;
  right: 10px;
}
.add-task .plan-file .plan-file-list .see {
  top: 3px;
  right: 45px;
}
.add-task .plan-file .plan-file-list .download {
  top: 3px;
}
.add-task .plan-file .plan-file-list .greyFont {
  display: none;
}
.add-task .plan-file .plan-file-list .blueFont {
  color: #0082EF;
  right: 40px;
}
.add-task .plan-file .plan-file-list .greyFont {
  color: #B4BCCC;
  right: 10px;
}
.add-task .plan-file .plan-file-list:hover {
  background: #ffffff;
  border: 1px solid #e5f2fe;
  box-shadow: 0 2px 4px rgba(48, 49, 51, 0.08);
}
.add-task .plan-file .plan-file-list:hover .greyFont {
  display: inline-block;
}
.add-task .plan-file .plan-file-list:hover .greenFont {
  display: none;
}
/*任务详情*/
.task-detail {
  /*1300- 1920 */
  /*小于1300*/
}
.task-detail .btn-option {
  display: none;
}
.task-detail .red {
  color: #F56C6C;
}
.task-detail .blue {
  color: #5EA9E8;
}
.task-detail .purple {
  color: #7086B3;
}
.task-detail .statusGreen {
  color: #86D5A3;
}
.task-detail .orange {
  color: #FF9C2B;
}
.task-detail .green {
  color: #67C23A;
}
.task-detail .barGreen {
  border-color: #A2EC90;
}
.task-detail .barGreen .progress-text {
  color: #67C23A;
}
.task-detail .barGreen .progress-bar {
  background-color: #67C23A;
}
.task-detail .barGrey {
  border-color: #C0C4CC;
}
.task-detail .barGrey .progress-text {
  color: #C0C4CC;
}
.task-detail .barGrey .progress-bar {
  background-color: #fff;
}
.task-detail .barBlue {
  border-color: #97CFFF;
}
.task-detail .barBlue .progress-text {
  color: #269CFF;
}
.task-detail .barBlue .progress-bar {
  background-color: #269CFF;
}
.task-detail .btn-text {
  height: 20px;
  color: #0082EF;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #0082EF;
  margin-left: 20px;
}
.task-detail .task-detail-title {
  width: 100%;
  height: 22px;
  box-sizing: border-box;
  color: #303133;
  font-size: 16px;
  font-weight: 500;
  border-left: 4px solid #0082EF;
  margin: 14px 0;
  padding-left: 10px;
}
.task-detail .file-status {
  font-size: 12px;
  font-weight: 500;
  margin-left: 30px;
}
.task-detail .task-describe {
  margin-left: 10px;
}
.task-detail .task-describe ul,
.task-detail .task-describe ul li {
  list-style: disc;
}
.task-detail .task-describe ol,
.task-detail .task-describe ol li {
  list-style: decimal;
}
@media screen and (min-width: 1300px) {
  .task-detail .schedule-file-list {
    width: 50% !important;
  }
}
@media screen and (max-width: 1299px) {
  .task-detail .schedule-file-list {
    width: 100% !important;
  }
}
.task-detail .progress-box {
  width: 99%;
  display: inline-block;
  height: 28px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  background-color: #fff;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 1px;
  position: relative;
}
.task-detail .progress-box .progress-bar {
  height: 24px;
  border-radius: 3px;
}
.task-detail .progress-box .progress-text {
  line-height: 26px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  right: -50px;
  top: 0;
}
/*通知模式弹窗*/
.notice-window {
  width: 100%;
}
.notice-window .notice-list li {
  width: 100%;
  height: 48px;
  background: #F5F7FA;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #303133;
  font-weight: 500;
}
.notice-window .notice-list hr {
  height: 1px;
  background-color: #B2BCCC;
  margin-bottom: 10px;
  border: none;
}
.notice-window .notice-list li:last-child {
  margin-bottom: 0;
}
.notice-window .notice-repeat {
  width: 100%;
  background-color: #F5F7FA;
  box-sizing: border-box;
  padding: 0 10px;
}
.notice-window .notice-repeat .notice-repeat-item {
  display: flex;
  color: #303133;
  font-weight: 500;
  justify-content: flex-start;
  border-top: 1px dashed #D5D8DE;
  padding: 10px 0;
}
.notice-window .notice-repeat .notice-repeat-item .left {
  flex: 1;
}
.notice-window .notice-repeat .notice-repeat-item .right {
  flex: 5;
}
.notice-window .notice-repeat .notice-repeat-item .right .ant-radio-button-wrapper {
  margin-bottom: 10px;
  background: #E8EBF1;
  color: #303133;
  font-weight: 500;
}
.notice-window .notice-repeat .notice-repeat-item .right .ant-radio-button-wrapper-checked {
  background: #84C7FF;
  color: #fff;
}
.notice-window .notice-repeat .notice-repeat-item .right .ant-select {
  width: 100px !important;
}
.notice-window .ant-select {
  margin-right: 10px;
}
.notice-window .add-notice-type {
  width: 50%;
  font-size: 24px;
  font-weight: bold;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notice-window .del {
  color: #F56C6C;
  cursor: pointer;
}
/*上传文件的弹窗*/
.plan-file-window {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  /*  .plan-file-list:nth-child(even) {
      margin-left: 70px;
    }

      .plan-file-list:hover {
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(229, 242, 254, 1);
        box-shadow: 0 2px 4px rgba(48, 49, 51, 0.08);
      }*/
}
.plan-file-window .upload-annex {
  line-height: 50px;
}
.plan-file-window .upload-annex .uploadFile {
  float: right;
  margin-left: 10px;
}
.plan-file-window .upload-annex .label {
  margin-right: 24px;
}
.plan-file-window .upload-annex .icon-img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 15px;
}
.plan-file-window #fileList {
  width: 100%;
}
.plan-file-window .plan-file-list {
  float: left;
  width: 60%;
  vertical-align: middle;
  height: 28px;
  margin-top: 10px;
  line-height: 28px;
  box-sizing: border-box;
  padding: 0 60px 0 10px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  margin-left: 70px;
}
.plan-file-window .plan-file-list .file-icon {
  width: 19px;
  height: 19px;
  vertical-align: middle;
}
.plan-file-window .plan-file-list .file-name {
  color: #606266;
  font-size: 12px;
  vertical-align: bottom;
  max-width: 80%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plan-file-window .plan-file-list .file-status-icon {
  font-size: 12px;
  position: absolute;
  top: 0;
  font-style: normal;
  cursor: pointer;
}
.plan-file-window .plan-file-list .blueFont {
  color: #0082EF;
  right: 40px;
}
.plan-file-window .plan-file-list .greyFont {
  color: #B4BCCC;
  right: 10px;
}
.upload-box {
  width: 100%;
  margin-left: 70px;
}
.upload-box .uploadFile,
.upload-box .uploadFile2 {
  width: 80%;
  height: 116px;
  margin: 20px 0;
  vertical-align: middle;
}
.upload-box .uploadFile img,
.upload-box .uploadFile2 img {
  width: 65px;
  height: 65px;
}
.upload-box .uploadFile .tips,
.upload-box .uploadFile2 .tips {
  color: #DCDFE6;
  margin: 10px 0;
}
.upload-box-window {
  width: 90%;
  margin: 0 auto 20px auto;
}
/*网盘上传弹窗*/
.net-disk-window {
  display: none;
}
.net-disk-content {
  width: 100%;
  font-size: 14px;
  color: #303133;
  box-sizing: border-box;
  padding: 0 20px;
}
.net-disk-content .crumbs {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #0082EF;
}
.net-disk-content .crumbs .crumbs-content {
  display: inline-block;
}
.net-disk-content .crumbs .crumbs-list {
  cursor: pointer;
}
.net-disk-content .disk-file-list {
  width: 100%;
}
.net-disk-content .disk-file-list .disk-folder {
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  box-shadow: 0 1px 0 #e6edf5;
  position: relative;
  cursor: pointer;
}
.net-disk-content .disk-file-list .disk-folder .down {
  display: none;
}
.net-disk-content .disk-file-list .disk-folder .net-file-icon img {
  width: 16px;
  height: 16px;
}
.net-disk-content .disk-file-list .disk-folder .net-file-name {
  margin-left: 5px;
}
.net-disk-content .disk-file-list .disk-folder .net-file-open {
  float: right;
  font-weight: bold;
  color: #C0C4CC;
  cursor: pointer;
}
.net-disk-content .disk-file-list .disk-folder .nert-file-size {
  color: #C0C4CC;
  float: right;
  font-size: 12px;
}
.net-disk-content .disk-file-list .disk-folder .check-label {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 18px;
  right: 0;
}
.net-disk-content .disk-file-list .disk-folder .folder-up {
  display: none;
}
.net-disk-content .disk-file-list .disk-folder .folder-info {
  height: 50px;
  line-height: 50px;
  box-shadow: 0 1px 0 #e6edf5;
}
.net-disk-content .disk-file-list .disk-folder .folder-info .net-file-name {
  font-weight: bold;
}
.net-disk-content .disk-file-list .disk-folder .disk-child-file {
  width: 100%;
  box-sizing: border-box;
  display: none;
}
.net-disk-content .disk-file-list .disk-folder .disk-child-file .disk-child-file-li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 1px 0 #e6edf5;
  position: relative;
}
.net-disk-content .disk-file-list .disk-folder .disk-child-file .disk-child-file-li .content {
  width: 80%;
  box-sizing: border-box;
  padding-left: 70px;
}
.net-disk-content .disk-file-list .disk-folder .content {
  width: 80%;
  display: inline-block;
}
/*-------------*/
/*开始任务、结束任务弹窗*/
.start-content .start-title,
.end-content .start-title {
  font-size: 16px;
  color: #303233;
  line-height: 50px;
}
.start-content .start-radio,
.end-content .start-radio,
.start-content .end-radio,
.end-content .end-radio {
  width: 100%;
  text-align: center;
}
.start-content .start-radio .ant-radio-group,
.end-content .start-radio .ant-radio-group,
.start-content .end-radio .ant-radio-group,
.end-content .end-radio .ant-radio-group {
  display: block;
}
.start-content .checked,
.end-content .checked {
  color: #0082EF !important;
}
.start-content .start-timing,
.end-content .start-timing {
  margin-top: 20px;
}
.start-content .time-box,
.end-content .time-box {
  display: inline-block;
  position: relative;
  width: 100%;
}
/*更新进度弹窗*/
.update-progress-content .progress-title {
  font-size: 16px;
  color: #303233;
  line-height: 50px;
}
.update-progress-content .progress-title span {
  color: #C0C4CC;
}
.update-progress-content .area-box {
  position: relative;
  margin-top: 20px;
}
.update-progress-content .area-box textarea {
  resize: none;
}
.update-progress-content .upload-box-window {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
.update-progress-content .upload-box-window .upload-annex {
  line-height: 50px;
}
.update-progress-content .upload-box-window .upload-annex img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.update-progress-content .upload-box-window .upload-annex span {
  margin-right: 24px;
  font-size: 16px;
  color: #333;
}
/*# sourceMappingURL=addTask.css.map */