/* 接口页面 */
.interface .box ul:after {
    clear: both;
    content: "";
    display: block;
    margin: 30px 0;
}

.interface .box ul li {
    float: left;
    width: 30%;
    box-shadow: 0 0 6px 1px rgba(138, 138, 138, 0.1);
    border-radius: 10px;
    margin: 10px 1%;
    height: 160px;
    overflow: hidden;
}

.interface .box ul li .img {
    margin-top: 10px;
    height: 70px;
    vertical-align: middle;
    position: relative;
}

.interface .box ul li img {
    margin: auto;
    display: block;
    position: static;
    display: block;
    max-width: 100%;
    max-height: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
}

.interface .box ul li .url {
    margin-top: 10px;
    padding: 0 10px;
    line-height: 30px;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.interface .box li.add {
    position: relative;
    font-size: 20px;
    display: table;
    box-shadow: none;
    border: 1px dashed #eeeeee;
    cursor: pointer;
    background-color: #F9FCFF;
}

.interface .box li.add i {
    text-align: center;
    color: rgba(0, 130, 239, 0.11);
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;

}

.interface .box li.add > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #c4c8cf;
}

.interface .box li .action {
    float: right;
    line-height: 45px;
    padding-right: 10px;
}

.interface .box li .action a {
    margin: 0 10px;
    cursor: pointer;
    color: #b8bfcf;
}
.interface .box li .action a:hover {
    color: #0082ef;
}

.interface .box li .action a i {
    margin-right: 5px;
}

.start-use {
    color: #67C23A;
}

.layui-form.interface .upload {
    width: 149px !important;
    height: 67px !important;
    margin: 0;
    background-color: #FAFAFA;
    border: 1px dashed #DCDFE6;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
}

.layui-form.interface .upload img {
    position: static;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layui-form.interface .upload_box {
    position: absolute;
    opacity: 0;
    top: -10px;
}

.layui-form.interface {
    padding: 0 20px;
}

.layui-form.interface .layui-form-label {
    padding: 9px 0;
    width: 60px;
    text-align: justify;
    text-align-last: justify;
}

.layui-form.interface .layui-form-label:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.layui-form.interface .layui-input-block {
    margin-left: 70px;
}

@media screen and (min-width: 1440px) {
    .interface .box ul li {
        width: 23%;
        height: 245px;
    }

    .interface .box ul li .img {
        height: 160px;
    }
}

@media screen and (min-width: 1306px) and (max-width: 1440px) {
    .interface .box ul li {
        width: 30%;
    }
}

@media screen and (max-width: 1306px) {
    .interface .box ul li {
        width: 48%;
        height: 245px;
    }

    .interface .box ul li .img {
        height: 160px;
    }
}